@tailwind base;
@tailwind components;
@tailwind utilities;

.centered {
    width: 100%;
}

@media (min-width: 640px) {
    .centered {
        width: 80%;
    }
}

.state-button {
    @apply outline-none border-2 border-gray-500 bg-gray-600 rounded-lg h-[42px] w-full sm:w-[80%]
}

.flex-center {
    @apply flex justify-center items-center;
}

.rounded-border-transp {
    @apply rounded border border-transparent
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    margin-right: 3px;
    width: 3px;
    border: 3px solid transparent;
    background-clip: padding-box;
    @apply rounded-lg bg-gray-500
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400
}
