@tailwind base;
@tailwind components;
@tailwind utilities;

.centered {
    width: 100%;
}

@media (min-width: 640px) {
    .centered {
        width: 80%;
    }
}

.container-bg {
    @apply rounded-lg border border-gray-500;
}

.flex-center {
    @apply flex justify-center items-center;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    margin-right: 7px;
    width: 12px;
    border: 3px solid transparent;
    background-clip: padding-box;
    @apply rounded-lg bg-gray-500
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400
}
